* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: sans-serif;
    padding: 30px;
    background-color: grey; /* Semikolon hinzugefügt */
    background-size: cover;
    color: #000;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

header, footer {
    margin-top: 10px;
    background-color: lightgray;
    padding: 15px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

main {
    border: 1px solid #ccc;
    width: 100%;
    flex-grow: 2;
    border-radius: 0px;
    overflow-y: scroll;
    max-width: 650px;
    margin: 12px auto 5px;
    background-color: darkgray;
    padding: 50px;
}

.chat-container1 {
    display: flex;
    text-align: left;
    background-color: darkgray;
    color: #000;
    height: 65px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
}

.message1 {
    text-align: left;
    background-color: #e0e0e0;
    color: #000;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

.message1 img {
    width: 45px;
    height: 45px;
    border-radius: 5%;
    margin-right: 10px;
}

.message1 {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

input {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
}

button {
    cursor: pointer;
    padding: 10px 30px;
    font-size: 18px;
}
